@media only screen and (min-width: 320px) and (max-width: 760px) {

    .visible {
        opacity: 1;
        position: absolute;
        top: 0;
    }

    .hidden{
        opacity: 0;
    }

    header{
        height: 100%;
        width:100%;
        margin: auto;
        visibility: visible;
    }
    .header{
        display: flex;
        justify-content: space-between;
        padding: 1.5rem;
        height: 20%;
    }

    h1{
        color: #f2b90e;
        font-size: 2.5rem;
        font-weight: bold;
        font-family: Montserrat, sans-serif;
        letter-spacing: normal;
        line-height: normal;
        text-align: center;
        margin: auto;
        -webkit-font-smoothing: antialiased;
    }

    #mainMenu{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 80%;
        padding: 5% 2rem 0 2rem;
    }

    .mainText{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 95%;
        margin: 3% 0 0 5%;
    }

    .start{
        width: 60%;
        margin: 8% auto 10% auto;
        font-size: 1.2rem;
    }

    #mainMenu h3 {
        color: #404348;
        font-family: Montserrat, sans-serif;
        letter-spacing: 1px;
        font-weight: 500;
        text-align: center;
        font-size: 2rem;
        margin: auto;
        width: 95%;
        -webkit-font-smoothing: antialiased;
    }

    #mainMenu img{
        margin: 8% auto 10% auto;
        width: 60%;
    }

    /*STYLE OF MAIN SECTION */
#mainContent{
    visibility: visible;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 100%;
}

#mainContent h3 {
    font-family: Montserrat, sans-serif;
    letter-spacing: normal;
    font-weight: bold;
    line-height: normal;
    text-align: center;
    font-size: 2.5rem;
    margin: auto;
    padding: 1.5rem 0;
    -webkit-font-smoothing: antialiased;
}

.dataForm{
    margin: auto;
    width: 100%;
}

#form{
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
}

#boton{
    margin: 5% 0 3% 0;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    cursor: pointer;
}

#word{
    max-height: 20vh;
    width: 80vw;
}

.tableWords{
    display: flex;
    min-width: 90vw;
    min-height: 70vh;
    border-radius: 1rem;
}

.cardWords{
    min-width: 90vw;
    margin: 0 auto 0 auto;
    height: 50%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #aaadb0;
    border-radius: 5%;
}

#fieldWord{
    gap: 1%;
    display: flex;
    flex-wrap: wrap;
    padding: 1%
}

.iconAction{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 20%;
    height: 100%;
}

}

@media only screen and (min-width: 1024px) and (max-width: 1380px) {
    header{
        height: 100%;
        max-width:100%;
        margin: auto;
        visibility: visible;
    }
    .header{
        display: flex;
        justify-content: space-between;
        padding: 1rem;
    }
    
    h1{
        color: #f2b90e;
        font-size: 2rem;
        font-family: Montserrat, sans-serif;
        letter-spacing: normal;
        line-height: normal;
        text-align: left;
        -webkit-font-smoothing: antialiased;
    }
    
    #mainMenu{
        display: flex;
        margin: auto;
        width: 100%;
        padding: 0 1rem 0 1rem;
    }
    
    .mainText{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        margin: 0 0 0 5%;
    }
    
    .start{
        width: 20%;
        margin-top: 5%;
    }
    
    #mainMenu h3 {
        color: #404348;
        font-family: Montserrat, sans-serif;
        letter-spacing: normal;
        line-height: normal;
        text-align: left;
        font-size: 2.5rem;
        -webkit-font-smoothing: antialiased;
    }
    
    #mainMenu img{
        margin-top: 6%;
        width: 35%;
    }
/* 
    SECTION MAIN */

    main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #mainContent{
        visibility: visible;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5% 0 0 0 ;
    }
    #mainContent h3 {
        color: #404348;
        font-family: Montserrat, sans-serif;
        letter-spacing: normal;
        font-weight: bold;
        line-height: normal;
        text-align: left;
        font-size: 3.5rem;
        -webkit-font-smoothing: antialiased;
    }
    
    #form{
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #boton{
        margin: 4% 0 4% 0;
    }
    
    #word{
        resize: both;
        min-height: 15vh;
        max-height: 20vh;
        min-width: 30vw;
    }
    
    .tableWords{
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 90vw;
        min-height: 70vh;
        border-radius: 1rem;
    }
    
    .tableWords h5{
        padding: 1rem;
        color: #404348;
        font-family: Montserrat, sans-serif;
        letter-spacing: normal;
        font-weight: bold;
        line-height: normal;
        font-size: 2rem;
        -webkit-font-smoothing: antialiased;
    }
    
    
    #fieldWord{
        gap: 5%;
        display: flex;
        flex-wrap: wrap;
        padding: 5%
    }
    
}
@media only screen and (min-width: 1380px) and (max-width: 1950px) {}

