html * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ebe4e4;
}

header{
    height: 100%;
    max-width:100%;
    margin: auto;
    visibility:hidden;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

h1{
    color: #f2b90e;
    font-size: 2.5rem;
    font-family: Montserrat, sans-serif;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    -webkit-font-smoothing: antialiased;
}

#mainMenu{
    display: flex;
    margin: auto;
    width: 80%;
}

.mainText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
}

.start{
    width: 20%;
    margin-top: 5%;
}

#mainMenu h3 {
    color: #404348;
    font-family: Montserrat, sans-serif;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    font-size: 3.5rem;
    -webkit-font-smoothing: antialiased;
}

#mainMenu img{
    margin-top: 6%;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mainContent{
    visibility: visible;
}

input{
    inset:unset;
    height: 5vh;
    width: 100%;
}


ul{
    list-style-type: none;
    background-color: aquamarine;
}

.saveWords{
    background-color: lightblue;
    width: 50%;
    height: 50%;
}

