html * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ebe4e4;
}

/*STYLE OF HEADER SECTION */

header{
    height: 100%;
    max-width:100%;
    margin: auto;
    display: none;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

h1{
    color: #f2b90e;
    font-size: 2.5rem;
    font-family: Montserrat, sans-serif;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    -webkit-font-smoothing: antialiased;
}

#mainMenu{
    display: flex;
    margin: auto;
    width: 80%;
}

.mainText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
}

.start{
    width: 20%;
    margin-top: 5%;
}

#mainMenu h3 {
    color: #404348;
    font-family: Montserrat, sans-serif;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    font-size: 3.5rem;
    -webkit-font-smoothing: antialiased;
}

#mainMenu img{
    margin-top: 6%;
}


/*STYLE OF MAIN SECTION */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mainContent{
    visibility: visible;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1% 0 0 0 ;
}

#mainContent h3 {
    color: #404348;
    font-family: Montserrat, sans-serif;
    letter-spacing: normal;
    font-weight: bold;
    line-height: normal;
    text-align: left;
    font-size: 3.5rem;
    -webkit-font-smoothing: antialiased;
}

#form{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#boton{
    margin: 3% 0 3% 0;
}

#word{
    resize: vertical;
    min-height: 10vh;
    max-height: 20vh;
    min-width: 30vw;
}

.tableWords{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 90vw;
    min-height: 70vh;
    border-radius: 1rem;
}

.tableWords h5{
    padding: 1rem;
    color: #404348;
    font-family: Montserrat, sans-serif;
    letter-spacing: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 2rem;
    -webkit-font-smoothing: antialiased;
}


#fieldWord{
    gap: 5%;
    display: flex;
    flex-wrap: wrap;
    padding: 5%
}

